[submodule "node_exporter/node_exporter"]
	path = node_exporter/node_exporter
	url = git@github.com:prometheus/node_exporter.git
[submodule "mysqld_exporter/mysqld_exporter"]
	path = mysqld_exporter/mysqld_exporter
	url = git@github.com:prometheus/mysqld_exporter.git
[submodule "nginx-vts-exporter/nginx-vts-exporter"]
	path = nginx-vts-exporter/nginx-vts-exporter
	url = git@github.com:hnlq715/nginx-vts-exporter.git
[submodule "php-fpm_exporter/php-fpm_exporter"]
	path = php-fpm_exporter/php-fpm_exporter
	url = git@github.com:hipages/php-fpm_exporter.git
[submodule "redis_exporter/redis_exporter"]
	path = redis_exporter/redis_exporter
	url = git@github.com:oliver006/redis_exporter.git
[submodule "postgres_exporter/postgres_exporter"]
	path = postgres_exporter/postgres_exporter
	url = git@github.com:wrouesnel/postgres_exporter.git
