#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) -fPIC $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS) -fPIC


%:
	dh $@ --without autoreconf

override_dh_auto_clean:
	dh_testdir
	bash redis_exporter/clean.sh
	bash php-fpm_exporter/clean.sh
	bash nginx-vts-exporter/clean.sh
	bash mysqld_exporter/clean.sh
	#bash postgres_exporter/clean.sh
	bash sql_exporter/clean.sh
	bash node_exporter/clean.sh
	pwd
	find . -type f -maxdepth 3

override_dh_auto_build:
	dh_testdir
	bash redis_exporter/build.sh
	bash php-fpm_exporter/build.sh
	bash nginx-vts-exporter/build.sh
	bash mysqld_exporter/build.sh
	#bash postgres_exporter/build.sh
	bash sql_exporter/build.sh
	bash node_exporter/build.sh
	pwd
	find . -type f -maxdepth 3

override_dh_auto_install:
	dh_testdir
	mkdir -p debian/tmp/usr/bin
	bash redis_exporter/install.sh
	bash php-fpm_exporter/install.sh
	bash nginx-vts-exporter/install.sh
	bash mysqld_exporter/install.sh
	#bash postgres_exporter/install.sh
	bash sql_exporter/install.sh
	bash node_exporter/install.sh
	pwd
	find . -type f -maxdepth 3

.PHONY: override_dh_auto_build override_dh_auto_clean override_dh_auto_install
