#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) -fPIC $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS) -fPIC


%:
	dh $@ --without autoreconf

override_dh_auto_build:
	dh_testdir
	pwd
	ls -alh
	bash node_exporter/build.sh

override_dh_auto_clean:
	dh_testdir
	pwd
	ls -alh
	bash node_exporter/clean.sh

override_dh_auto_install:
	dh_testdir
	pwd
	ls -alh
	bash node_exporter/install.sh

.PHONY: override_dh_auto_build override_dh_auto_clean
