[Unit]
Description=The strongest deck of prometheus exporters.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/prometheus-exporter-deck.pid
ExecStartPre=/usr/bin/cradle_exporter -t
ExecStart=/usr/bin/cradle_exporter
ExecReload=/usr/bin/cradle_exporter -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
