[Unit]
Description=The strongest deck of prometheus exporters.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/cradle_exporter.pid
ExecStartPre=/usr/bin/cradle_exporter --config /etc/gazer/config.yml -t
ExecStart=/usr/bin/cradle_exporter --config /etc/gazer/config.yml
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
