#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) -fPIC $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS) -fPIC


%:
	dh $@ --without autoreconf

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	dh_testdir
	bash ../cradle_exporter/clean.sh
	bash ../redis_exporter/clean.sh
	bash ../php-fpm_exporter/clean.sh
	bash ../nginx-vts-exporter/clean.sh
	bash ../mysqld_exporter/clean.sh
	bash ../postgres_exporter/clean.sh
	bash ../sql_exporter/clean.sh
	bash ../memcached_exporter/clean.sh
	bash ../node_exporter/clean.sh
	pwd
	find . -type f -maxdepth 3

.PHONY: override_dh_auto_build
override_dh_auto_build:
	dh_testdir
	bash ../cradle_exporter/build.sh
	bash ../redis_exporter/build.sh
	bash ../php-fpm_exporter/build.sh
	bash ../nginx-vts-exporter/build.sh
	bash ../mysqld_exporter/build.sh
	bash ../postgres_exporter/build.sh
	bash ../sql_exporter/build.sh
	bash ../memcached_exporter/build.sh
	bash ../node_exporter/build.sh
	pwd
	find . -type f -maxdepth 3

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_testdir
	mkdir -p debian/tmp/usr/sbin
	bash ../cradle_exporter/install.sh
	bash ../redis_exporter/install.sh
	bash ../php-fpm_exporter/install.sh
	bash ../nginx-vts-exporter/install.sh
	bash ../mysqld_exporter/install.sh
	bash ../postgres_exporter/install.sh
	bash ../sql_exporter/install.sh
	bash ../memcached_exporter/install.sh
	bash ../node_exporter/install.sh
	# Install other static files.
	cd files-to-install && find . -type f -exec install -m 0644 -o nobody -g nogroup -D {} ../debian/tmp/{} \;
	mkdir -p ../debian/tmp/usr/share/gazer/example
	cd ../cradle_exporter/cradle_exporter/example/config/conf.d && find . -type f -exec install -m 0644 -o nobody -g nogroup -D {} ../debian/tmp/usr/share/gazer/example/{} \;
	pwd
	cd debian/tmp && find .
